*{
    padding: 0;
    margin: 0;
}

h1{

    /* Border-width determina o tamanho da borda  */
    border-width: 10px;
    /* Border-color define a cor da borda */
    border-color: black;
    /* Border-style determina o formato da borda */
    border-style: double;
}

 p{
    /* Podemos criar bordas de maneira abreviada utilizando apenas a propriedade border.
    boder recebe 3 valores, sendo eles:
    Tamanho (10px)
    Tipo (dashed)
    Cor (black)*/
    border: 5px rgb(24, 156, 196) inset;
}